BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "btnx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "ledx[8]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE ;
IOBUF PORT "ledx[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ledx[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ledx[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ledx[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ledx[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ledx[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ledx[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk" SITE "55" ;
LOCATE COMP "btnx" SITE "36" ;
LOCATE COMP "ledx[8]" SITE "122" ;
LOCATE COMP "ledx[7]" SITE "124" ;
LOCATE COMP "ledx[6]" SITE "125" ;
LOCATE COMP "ledx[5]" SITE "126" ;
LOCATE COMP "ledx[4]" SITE "127" ;
LOCATE COMP "ledx[3]" SITE "130" ;
LOCATE COMP "ledx[2]" SITE "131" ;
LOCATE COMP "ledx[1]" SITE "132" ;
FREQUENCY PORT "clk" 24.000000 MHz ;
