# Directories
BlinkCounter_html/
_ngo/
_xmsgs/
iseconfig/
isim/
xst/
xlnx_auto_0_xdb/
# All the other temporary/intermediate files which are created
BlinkCounter.bld
BlinkCounter.chk
BlinkCounter.cmd_log
BlinkCounter.cxt
BlinkCounter.gyd
BlinkCounter.jed
BlinkCounter.lfp
BlinkCounter.log
BlinkCounter.lso
BlinkCounter.mfd
BlinkCounter.nga
BlinkCounter.ngc
BlinkCounter.ngd
BlinkCounter.ngr
BlinkCounter.pad
BlinkCounter.pnx
BlinkCounter.prj
BlinkCounter.rpt
BlinkCounter.stx
BlinkCounter.syr
BlinkCounter.tim
BlinkCounter.tspec
BlinkCounter.vhi
BlinkCounter.vm6
BlinkCounter.xml
BlinkCounter.xst
BlinkCounter_build.xml
BlinkCounter_envsettings.html
BlinkCounter_ngdbuild.xrpt
BlinkCounter_pad.csv
BlinkCounter_summary.html
BlinkCounter_xst.xrpt
Testbench_beh.prj
Testbench_isim_beh.exe
Testbench_isim_beh.wdb
Testbench_stx_beh.prj
_pace.ucf
default.xreport
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
isim.log
pepExtractor.prj
t1.dat
t1.phd
t55.dat
t55.phd
t6.dat
t6.phd
tmperr.err
webtalk_pn.xml
xilinxsim.ini
